<div class="article">
    <h1> Portfolio </h1>
    <div class="pieces figninety">
        <figure>
            <img src="img/forestbloodsucker.jpg" alt="Man walking in forest">
            <figcaption> The Forest Bloodsucker - Documentary </figcaption>
        </figure>
        <figure>
            <img src="img/orangelife.jpg" alt="Orangelife Adventures">
            <figcaption> Orangelife Adventures - Advertisement </figcaption>
        </figure>
        <figure>
            <img src="img/scmcmc.jpg" alt="Minecraft Build">
            <figcaption> Satrang 2020 Closing Ceremony - Short Video </figcaption>
        </figure>
        <figure>
            <img src="img/kalari.jpg" alt="Man performing martial arts">
            <figcaption> Kalari - Documentary </figcaption>
        </figure>
        <figure>
            <img src="img/liam.jpg" alt="Still from LIAM">
            <figcaption> Life is a Movie - Feature Length Film </figcaption>
        </figure>
        <figure>
            <img src="img/flyers.jpg" alt="Person Paragliding">
            <figcaption> The Flyers - Advertisement </figcaption>
        </figure>
    </div>
</div>
